@import url('https://fonts.googleapis.com/css2?family=Glory:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap');

* {
    box-sizing: border-box;
    transition: all 0.2s ease-out;
}

body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(170deg, rgba(0,212,255,1) 15%, rgba(9,9,121,1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    padding: 0px;
    padding-bottom: 20px;
    font-family: Glory, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 97%;
    display: grid;
    grid-template-columns: (10 / 1fr);
    grid-template-rows: (5 / 1fr);
    grid-template-areas: 
    "T T T T T . . . M M"
    "T T T T T H . N V ."
    ". L . G . . P . E ."
    "C C C . . . . . R ."
    "C C C . . . . . . .";
}

.title {
    grid-area: T;
}

.menu {
    grid-area: M;
}


/* HOME PAGE */

.home-box {
    width: 700px;
    height: 700px;
    border-radius: 800px;
    margin: 0px;
    grid-area: H;
    background: linear-gradient(130deg, rgba(255,255,255,1) 18%, rgba(0,212,255,0.6) 30%,  rgba(9,9,121,1) 100%);
    box-shadow: 2px 0px 8px 0px rgba(0, 0, 0, 0.8);
}

p {
    color: white;
    position: absolute;
    font-size: 30px;
    margin-top: 16%;
    margin-left: 6%;
    width: 850px;
    text-shadow: 0px 0px 6px rgba(9,9,121,0.8);
}

.void-box {
    grid-area: V;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin-right: 100px;
    background: linear-gradient(110deg, rgba(0,212,255,0.6) 10%,  rgba(9,9,121,1) 100%);
    box-shadow: 2px 0px 8px 0px rgba(0, 0, 0, 0.8);
}


/* REGISTRATION PAGE */

.first-sphere {
    grid-area: N;
    width: 360px;
    height: 360px;
    border-radius: 200px;
    background: linear-gradient(115deg, rgba(255,255,255,1) 13%, rgba(0,212,255,0.6) 30%,  rgba(9,9,121,1) 100%);
    box-shadow: 2px 0px 8px 0px rgba(0, 0, 0, 0.8);
}

.second-sphere {
    grid-area: E;
    width: 330px;
    height: 330px;
    border-radius: 200px;
    background: linear-gradient(120deg, rgba(255,255,255,1) 14%, rgba(0,212,255,0.6) 30%,  rgba(9,9,121,1) 100%);
    box-shadow: 2px 0px 8px 0px rgba(0, 0, 0, 0.8);
}

.third-sphere {
    grid-area: P;
    width: 260px;
    height: 260px;
    border-radius: 200px;
    background: linear-gradient(145deg, rgba(255,255,255,1) 14%, rgba(0,212,255,0.6) 30%,  rgba(9,9,121,1) 100%);
    box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.8);
}

.fourth-sphere {
    grid-area: G;
    width: 290px;
    height: 290px;
    border-radius: 200px;
    background: linear-gradient(165deg, rgba(255,255,255,1) 9%, rgba(0,212,255,0.6) 30%,  rgba(9,9,121,1) 100%);
    box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.8);
}

.fifth-sphere {
    grid-area: L;
    width: 170px;
    height: 170px;
    border-radius: 200px;
    background: linear-gradient(172deg, rgba(255,255,255,1) 5%, rgba(0,212,255,0.6) 30%,  rgba(9,9,121,1) 100%);
    box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.8);
}

.contacts {
    grid-area: C;
    padding: 0px;
    padding-bottom: 20px;
}

.required-text {
    grid-area: R;
    margin-top: 50px;
}

h1 {
    margin: 0px;
    margin-top: 30px;
    font-size: 160px;
    color: rgba(255, 255, 255, 1);
    padding: 0px;
    line-height: 100px;
    text-shadow: 0px 0px 6px rgba(9,9,121,0.8);
}

.registration {
    font-size: 80px;
    margin: 0px;
    margin-left: 3px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.966);
    font-size: 30px;
}

a:hover {
    text-decoration: underline;
}

ul {
    margin-right: 30px;
    padding-right: 0px;
}

li {
    list-style: none;
    display: inline;
    margin-left: 50px;
}

.name-box, .email-box, .password-box, .gender-box, .newsletter-box {
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px;
    text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.918);
}

.registration-box {
    position: absolute;
    width: 600px;
    height: 500px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    border-radius: 10px;
    background: linear-gradient(130deg, rgba(255,255,255,0.7) 3%, rgba(0,212,255,0.5) 30%,  rgba(9,9,121,0.5) 100%);
    box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.8);
    padding: 40px;
    margin-left: 50%;
    margin-top: 15%;
    text-shadow: 0px 0px 6px rgba(9,9,121,0.8);
}

.title-registration-box {
    font-size: 40px;
    margin: auto;
    margin-bottom: 50px;
}

span {
    color: white;
    font-size: 30px;
    margin-bottom: 15px;
    text-align: center;
}

input {
    margin: auto;
    margin-bottom: 50px;
    width: 300px;
    height: 25px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 6px rgba(9,9,121,0.8);
    padding: 5px;
    text-align: center;
}

img {
    width: 25px;
    margin-left: 25px;
}

.box-icon {
    display: flex;
    align-items: center;
    padding: 0px;
}

.info {
    font-size: 16px;
}

.checkbox {
    width: fit-content;
    margin: auto;
    cursor: pointer;
}

button {
    width: 100px;
    margin: 50px auto 30px;
    cursor: pointer;
    font-family: Glory, sans-serif;
    font-size: 25px;
    background-color: transparent;
    color: white;
    text-shadow: 0px 0px 6px rgba(9,9,121,0.8);
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.8);
}

button:hover {
    background-color: rgba(255, 255, 255, 0.259);
}

button:active {
    background-color: rgba(255, 255, 255, 0.528);
}

/* LIST PAGE */

.list-container {
    width: 97%;
    height: 98%;
    padding-top: 30px;
}

.menu-list {
    float: right;
}

#box-list {
    width: 540px;
    height: 540px;
    margin: 0px auto 0px;
    border-radius: 350px;
    background: linear-gradient(130deg, rgba(255,255,255,1) 15%, rgba(0,212,255,0.6) 30%, rgba(9,9,121,1) 100%);
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.8);
    overflow-y: scroll;
    padding: 20px;
    position: relative;
    bottom: 60px;
}

h2 {
    font-size: 45px;
    color: rgb(245, 253, 255);
    text-shadow: 2px 2px 12px rgba(9,9,121,0.8);
}

.user-box {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    margin: 40px 0px 40px;
}

.user {
    list-style: none;
    display: block;
    font-size: 25px;
    color: rgb(245, 253, 255);
    text-shadow: 2px 2px 12px rgba(9,9,121,0.8);
}

#box-list::-webkit-scrollbar, .registration-box::-webkit-scrollbar {
    width: 4px;
}

#box-list::-webkit-scrollbar-track, .registration-box::-webkit-scrollbar-track {
    /* background-color: #cccccc00;
    box-shadow: inset 0 0 5px rgba(9,9,121,0.8);
    border-radius: 10px;*/
    display: none;
}

#box-list::-webkit-scrollbar-thumb, .registration-box::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.568);
    border-radius: 10px;
}

/* ADATTAMENTI PER SCHERMI */

/* Home page */

@media screen and (max-width: 1800px){

    .container {
        width: 97%;
        display: grid;
        grid-template-columns: (10 / 1fr);
        grid-template-rows: (5 / 1fr);
        grid-template-areas: 
        "T T T T T . . M M M"
        "T T T T T . . N . ."
        ". L . G . H P V E ."
        "C C C . . . . . R ."
        "C C C . . . . . . .";
    }

    .home-box {
        width: 450px;
        height: 450px;
        background: linear-gradient(140deg, rgba(255,255,255,1) 14%, rgba(0,212,255,0.6) 30%,  rgba(9,9,121,1) 100%);
    }

    p {
        color: white;
        position: absolute;
        font-size: 30px;
        margin-top: 8%;
        margin-left: 0%;
        width: 50%;
        text-shadow: 0px 0px 6px rgba(9,9,121,1);
    }
    
    .void-box {
        width: 180px;
        height: 180px;
    }

}

@media screen and (max-width: 1520px){

    .container {
        width: 97%;
        display: grid;
        grid-template-columns: (10 / 1fr);
        grid-template-rows: (5 / 1fr);
        grid-template-areas: 
        "T T T T T M M M M ."
        "T T T T T . . N . ."
        ". L . G . H P V E ."
        "C C C . . . . . R ."
        "C C C . . . . . . .";
    }

    .home-box {
        width: 450px;
        height: 450px;
        background: linear-gradient(140deg, rgba(255,255,255,1) 12%, rgba(0,212,255,0.6) 30%,  rgba(9,9,121,1) 100%);
        box-shadow: 2px 3px 8px 0px rgba(0, 0, 0, 0.8);
    }

    p {
        color: white;
        position: absolute;
        font-size: 30px;
        margin-top: 4%;
        margin-left: 3%;
        width: 40%;
        text-shadow: 0px 0px 6px rgba(9,9,121,1);
    }
    
    .void-box {
        width: 180px;
        height: 180px;
    }

    ul {
        margin-right: 20px;
        padding-right: 0px;
        position: relative;
        margin-left: 40%;
    }
    
    li {
        list-style: none;
        display: inline;
        margin-left: 50px;
    }

}

@media screen and (max-width: 1396px){

    .container {
        width: 97%;
        display: grid;
        grid-template-columns: (10 / 1fr);
        grid-template-rows: (5 / 1fr);
        grid-template-areas: 
        "T T T T T M M M M ."
        "T T T T T . . N . ."
        ". L . G H V P . E ."
        "C C C . . . . . R ."
        "C C C . . . . . . .";
    }

    .home-box {
        width: 400px;
        height: 400px;
        background: linear-gradient(150deg, rgba(255,255,255,1) 13%, rgba(0,212,255,0.6) 30%,  rgba(9,9,121,1) 100%);
        box-shadow: 2px 3px 8px 0px rgba(0, 0, 0, 0.8);
    }

    p {
        color: white;
        position: absolute;
        font-size: 30px;
        margin-top: 4%;
        margin-left: 0%;
        width: 60%;
        text-shadow: 0px 0px 6px rgba(9,9,121,1);
    }
    
    .void-box {
        width: 160px;
        height: 160px;
    }

    ul {
        margin-right: 20px;
        padding-right: 0px;
        position: relative;
        margin-left: 15%;
    }
    
    li {
        list-style: none;
        display: inline;
        margin-left: 50px;
    }

}

@media screen and (max-width: 1285px){

    .container {
        width: 97%;
        display: grid;
        grid-template-columns: (10 / 1fr);
        grid-template-rows: (5 / 1fr);
        grid-template-areas: 
        "T T T T T M M M M ."
        "T T T T T . . N . ."
        ". L . G H V P . E ."
        "C C C . . . . . R ."
        "C C C . . . . . . .";
    }

    .home-box {
        width: 400px;
        height: 400px;
        background: linear-gradient(160deg, rgba(255,255,255,0.8) 12%, rgba(0,212,255,0.6) 30%,  rgba(9,9,121,1) 100%);
        box-shadow: 1px 3px 8px 0px rgba(0, 0, 0, 0.8);
    }

    p {
        color: white;
        position: absolute;
        font-size: 30px;
        margin-top: 3%;
        margin-left: 0%;
        width: 60%;
        text-shadow: 0px 0px 12px 2px rgb(8, 8, 99);
    }
    
    .void-box {
        width: 160px;
        height: 160px;
    }

    ul {
        margin-right: 20px;
        padding-right: 0px;
        position: relative;
        margin-left: 0%;
    }
    
    li {
        list-style: none;
        display: inline;
        margin-left: 50px;
    }

}

@media screen and (max-width: 1180px){

    /* #home-container {
        width: 97%;
        height: auto;
        display: grid;
        grid-template-columns: (8 / 1fr);
        grid-template-rows: (7 / 1fr);
        grid-template-areas: 
        "T T T T M M M M"
        "T T T T M . . ."
        ". . . . . . . ."
        "H V . . . . . ."
        "H . . . . . . ."
        ". . . . . . . ."
        "C C C . . . . .";
    } */

    body {
        height: auto;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        padding: 30px;
    }

    .home-box {
        width: 400px;
        height: 400px;
        margin: 30px;
        background: linear-gradient(175deg, rgba(255,255,255,0.7) 3%, rgba(0,212,255,0.6) 30%,  rgba(9,9,121,1) 100%);
        box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.8);
    }

    p {
        color: white;
        position: absolute;
        font-size: 30px;
        margin-top: 6%;
        margin: 0px;
        width: 60%;
        text-shadow: 0px 0px 6px rgba(9,9,121,1);
    }
    
    .void-box {
        width: 160px;
        height: 160px;
        margin: 40px;
    }

}

@media screen and (max-width: 1180px){

    /* #home-container {
        width: 97%;
        height: auto;
        display: grid;
        grid-template-columns: (8 / 1fr);
        grid-template-rows: (7 / 1fr);
        grid-template-areas: 
        "T T T T M M M M"
        "T T T T M . . ."
        ". . . . . . . ."
        "H V . . . . . ."
        "H . . . . . . ."
        ". . . . . . . ."
        "C C C . . . . .";
    } */

    body {
        height: auto;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        padding: 30px;
    }

    .home-box {
        width: 400px;
        height: 400px;
        margin: 30px;
        background: linear-gradient(175deg, rgba(255,255,255,0.7) 3%, rgba(0,212,255,0.6) 30%,  rgba(9,9,121,1) 100%);
        box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.8);
    }

    p {
        color: white;
        position: absolute;
        font-size: 30px;
        margin-top: 6%;
        margin: 0px;
        width: 60%;
        text-shadow: 0px 0px 6px rgba(9,9,121,1);
    }
    
    .void-box {
        width: 160px;
        height: 160px;
        margin: 40px;
    }

}

@media screen and (max-width: 840px) {

    h1 {
        font-size: 120px;
    }

}

@media screen and (max-width: 840px) {

    .contacts {
        height: 200px;
        padding-top: 120px;
    }

}

@media screen and (max-width: 640px) {

    h1 {
        font-size: 100px;
    }

    .registration {
        font-size: 60px;
    }

    .contacts {
        height: 300px;
        padding-top: 220px;
    }

}

@media screen and (max-width: 548px) {

    h1 {
        font-size: 80px;
    }

    .registration {
        font-size: 60px;
    }

    .contacts {
        height: 600px;
        padding-top: 500px;
    }

    ul {
        margin-right: 10px;
        padding-right: 0px;
    }
    
    li {
        list-style: none;
        display: inline;
        margin-left: 25px;
    }

    .home-box {
        width: 300px;
        height: 300px;
    }

    .void-box {
        width: 100px;
        height: 100px;
    }

}

@media screen and (max-width: 510px) {

    .contacts {
        height: 700px;
        padding-top: 600px;
    }

}

@media screen and (max-width: 430px) {

    h1 {
        font-size: 60px;
    }

    .registration {
        font-size: 55px;
    }

    .contacts {
        height: 1000px;
        padding-top: 930px;
    }

    .home-box {
        width: 250px;
        height: 250px;
    }

    .void-box {
        width: 80px;
        height: 80px;
    }

}

@media screen and (max-width: 395px) {

    .contacts {
        height: 1200px;
        padding-top: 1100px;
    }

    ul {
        margin-top: 50px;
        margin-right: 50px;
        padding-left: 0px;
    }
    
    li {
        display: block;
        margin-left: 50px;
        margin-bottom: 15px;
    }

}

@media screen and (max-width: 350px) {

    .home-box {
        width: 200px;
        height: 200px;
    }

    .void-box {
        width: 70px;
        height: 70px;
    }

    .contacts {
        height: 1400px;
        padding-top: 1300px;
    }

}

@media screen and (max-width: 314px){

    .contacts {
        height: 1600px;
        padding-top: 1500px;
    }

}

@media screen and (max-width: 295px) {

    h1 {
        font-size: 50px;
        line-height: normal;
    }

    .registration {
        font-size: 40px;
    }

    .home-box {
        width: 160px;
        height: 160px;
    }

    .void-box {
        width: 50px;
        height: 50px;
    }

}

@media screen and (max-width: 280px){

    .contacts {
        height: 1800px;
        padding-top: 1700px;
    }

}